.notion-code {
  background-color: #333 !important;
  border-radius: 5px !important;
}

.notion-viewport {
  display: none !important;
}

.notion-page-title-text {
  font-size: 1.3em;
  text-overflow: unset !important;
  white-space: normal !important;
}

.notion-page-icon {
  display: none !important;
}
